@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>


